.img{
    width: 80%;
    height: 30vh;
    margin: 10px 10%;
    border-radius: 20px;
    
}
.img1{
    width: 70%;
    height: 30vh;
    margin: 10px;
    border-radius: 20px;
}

.cart1{
    width: 280px;
    max-height:75vh;
    background-color:chocolate;
    border-radius: 10px;
    margin:10px 0 ;
}

.cart2{
    width: 50vh;
    max-height:100vh;
    background-color:chocolate;
    border-radius: 10px;
    margin:10px 0 ;
}

.mb{

    margin-bottom: 10px;
}
.carText{
    text-align: center;
    font-style: italic;
    color: white;
    width: 90%;
}

.justifyP{
    text-align:justify;
}
.margin1{
    margin-left: 7vw;
}
.widthCount{
    width: 30px;
    margin-bottom: 1rem;
}

.mBoton{
    margin-left: 30px;
}

.espacio{
    display:flex;
    flex-direction:row;
    align-items: center;
    background-color:burlywood;
    gap: 10px;
    padding: 0px 5px;
    // margin: 5px 5px;
    width: 300px;
    // height: 75vh;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.79);
    transition: 0.3s ease;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
}


